<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NexaThinItalic.otf</string>
		<string>NexaThin.otf</string>
		<string>NexaLightItalic.otf</string>
		<string>NexaLight.otf</string>
		<string>NexaBookItalic.otf</string>
		<string>NexaBook.otf</string>
		<string>NexaBoldItalic.otf</string>
		<string>NexaBold.otf</string>
		<string>NexaBlackItalic.otf</string>
		<string>NexaBlack.otf</string>
		<string>NexaLight.otf</string>
		<string>NexaBold.otf</string>
		<string>NexaRegular.otf</string>
	</array>
</dict>
</plist>
